<div class="card vocacion-card">
	<h2 class="title">Vocación de cumplimiento</h2>

	<p-table [value]="ordenes" [paginator]="false" responsiveLayout="scroll">
		<ng-template pTemplate="header">
			<tr>
				<th>ID Orden</th>
				<th>Tipo de orden</th>
				<th style="width: 200px; text-align: center">Vocación de cumplimiento</th>
				<th>Documento soporte</th>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-orden>
			<tr>
				<td>{{ orden.id }}</td>
				<td>{{ orden.tipo }}</td>
						<td style="text-align: center">
							<p-checkbox class="small-checkbox" [(ngModel)]="orden.vocacion" [binary]="true" inputId="{{orden.id}}-voc"></p-checkbox>
						</td>
				<td>
					  <p-fileUpload class="small-fileupload" name="file" mode="basic" chooseLabel="Seleccionar archivo" (onSelect)="onFileSelect($event, orden)" auto="true" customUpload="true" [maxFileSize]="2000000"></p-fileUpload>
					<div class="file-name" *ngIf="orden.documento">{{ orden.documento }}</div>
				</td>
			</tr>
		</ng-template>
	</p-table>

	<div class="actions">
		<button pButton type="button" label="Guardar" class="p-button-success" (click)="save()"></button>
		<button pButton type="button" label="Cancelar" class="p-button-secondary p-ml-2" (click)="cancel()"></button>
	</div>
</div>
